
x86_64/

__pycache__/

.idea/

data/

*.c

*.o

mods/nrnmech.dll

bkca.mod

trpm8.mod

soce.mod

cacc.mod

cadyn.mod

CaL.mod

CaN.mod

CaPQ.mod

CaR.mod

CaT.mod

hcn.mod

ip3_diff.mod

IPClamp.mod

kam.mod

kas.mod

kaslow.mod

kdr.mod

kmtype.mod

knatype.mod

nakpump.mod

nattxs.mod

nav17h.mod

Nav17m.mod

nav18h.mod

nav18m.mod

nav1p8.mod

nav1p9.mod

navmut.mod

ncxsoma.mod

nrnmech.dll

SinClamp.mod

skca3.mod
